<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="20"> 
    <link rel="stylesheet" href="../static/wait.css">
    <title>CVE_Watcher</title>
</head>
<body>
    <div id="header">
    </div>
    <div id="main_section">
        <h1>AHHHH Zscaler !!!!!</h1>
        <div class="tenor-gif-embed" data-postid="22599237" data-share-method="host" data-aspect-ratio="1" data-width="100%"><a href="https://tenor.com/view/all-alone-kevin-gates-satellites-song-by-myself-by-my-lonesome-gif-22599237">All Alone Kevin Gates GIF</a>from <a href="https://tenor.com/search/all+alone-gifs">All Alone GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    </div>
</body>
</html>
