html {
    height: 100%;
    background-image: linear-gradient(to right, #3DCD58 , #3DCD58 ,rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255));
}

body {
    display:flex;
    flex-direction: column;
}

#header {

}

#main_section {
    display: flex;
    flex-direction: row;
    height: 90%;
    
}

#top_left {
    border: 2px solid black;
    border-radius: 2%;
    padding: 0.5%;
    width: 50%;
    color: white;
}

#main_content {
    width: 75%;
    margin-left: 2%;
}

#cwes {
    display: flex;
    flex-direction: row;
    gap: 1%;
}

#top_right {
    width: 50%;
    padding: 0.5%;
}

#top_top_right {
    padding: 1%;
    border: 2px solid black;
    border-radius: 2%;
}

#top_right_title {
    text-align: center;
}

#cves {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3%;   
}

#cve_n {
    display: flex;
    flex-direction: column;
}

#bottom_top_right {
    padding: 1%;
    border: 2px solid black;
    border-radius: 2%;
}

#footer {
    position: fixed;
    bottom: 0%;
    left: 28%;
    display: flex;
    flex-direction: row;
    gap: 5vw;
}

#timer {
    align-content: center;
}